Ejercicios/ClienteNET/ClienteNET/Service References/ServicioWebSOAP/WSOperaciones.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Login" type="tns:Login" />
  <xs:element name="LoginResponse" type="tns:LoginResponse" />
  <xs:element name="ProcesarPago" type="tns:ProcesarPago" />
  <xs:element name="ProcesarPagoResponse" type="tns:ProcesarPagoResponse" />
  <xs:complexType name="ProcesarPago">
    <xs:sequence>
      <xs:element name="total" type="xs:int" />
      <xs:element name="pago" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProcesarPagoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>